    <section class="slide-section">
            <div class="slide-container">
                <div class="image-container">
                    <img src="/images/iwobi1.jpg" alt="" class="slideImg fade"/>
                </div>
                <div class="image-container">
                    <img src="/images/female.jpg" alt=""class="slideImg fade" />
                </div>
                <div class="image-container">
                    <img src="/images/kick.jpg" alt=""class="slideImg fade" />
                </div>
                <div class="image-container">
                    <img src="/images/new4.jpg" alt=""class="slideImg fade" />
                </div> 
                <div class="image-container">
                    <img src="/images/keeper.jpeg" alt=""class="slideImg fade" />
                </div> 
            </div>

            <div class="dicover-new-div"><h1 class="dicover-new-header">DISCOVER NEW TRENDS</h1>
                <a href="/store?page=1&limit=10" class="shop-now btn">SHOP NOW</a>
            </div>
    </section>

    <section class="photoblast-sec">
        <div class="forWrap">
            <div class="photoblast-divs">
                <div class="photoblast-div">
                    <div class="photoblast-second-div">
                        <div class="photoblast-info-div">
                        <h1 class="photoblast-header"> NEW YEAR PHOTOBLAST<br></h1>
                            <a class="photoblast-btn" href="/coming-soon">NEW COLLECTION</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="photoblast-divs">
                <div class="formen-women-div">
                   <div class="formen-women-second-div ">
                       
                        <a href="/store?page=1&limit=10" class="formen-women-info">MID SUMMER WOMEN</a>
                    </div>
                </div>

                <div class="formen-women-div bottom-men">
                    <div class="formen-women-second-div men-second-div">
                        <a href="/store?page=1&limit=10" class="formen-women-info men-info"> SHOP EXCLUSIVE MEN </a>
                    </div>
                </div>
            </div>
        </div>
    </section>  
    <br><br><hr>
    
   
   
    <section>
        <div class="newRelease">
            <h2 class="new-release-header">NEW RELEASES</h2>
            <div class="wrapper">
                <div class="wrapper-div">
                    <% products.forEach(product =>{%>
                    <div class="wrapper-inside-div">
                        <a href="/store/<%=product.id%>" class="wrapper-link">
                        <img class=" wrapper-items" src="<%=product.prodImagePath %>" >
                        </a>
                        <div class="wrapper-info"> 
                            <%=product.name%><br>
                            <span class="wrapper-price"> NGN <%=numberWithCommas(product.price)%></span>
                        </div> 
                    </div>   
                     <%})%>
                </div>
                
            </div>
        </div>
    </section>
    

    <section class="display-section">
        <div class="display-section-div">
            <h1 class="display-section-header">WOMEN DO IT BETTER</h1>
            <a href="/store?page=1&limit=10" class="display-section-link">SHOP WOMEN</a>
        </div>
    </section>
    <section class="main-random-display-section" id="random">
         <div class="display-h">
            <h2 class="display-h2-element">FEATURED PRODUCTS</h2>
         </div> 
   
        <div class="random-display-section">
                
                <% showProducts.forEach(product =>{%>
                    <a href="/store/<%=product.id%>" class="display-link">
                    <div class="display-div">
                        <div class="display-name-div"> 
                            NAME: <%=product.name%><br><br>
                            PRICE: NGN <span class="display-price"><%=numberWithCommas(product.price)%></span><br>
                    
                        </div> 
                        <div class="display-pic-div">
                            <img class="display-pic" src="<%=product.prodImagePath%>" >
                        </div>
                        
                    </div> 
                    </a>  
                <%})%>
                    
        
        </div>

    
    </section>
    
    <i class="fa fa-arrow-circle-o-up up-arrow fa-2x" aria-hidden="true"></i>



    <%
    function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
     }
    %>




    <script>
        var slideIndex=0;

        show()
        function show(){
            var imageCont= document.getElementsByClassName('image-container');
            for(var i =0; i<imageCont.length; i++){
                imageCont[i].style.display="none";
            };

            slideIndex++;

            if(slideIndex>imageCont.length){slideIndex=1};

            imageCont[slideIndex-1].style.display="block";

            setTimeout(show,4000);
        };
    </script>