    <script src="/script/cart.js" async></script>

    <%if(products){%>
        <div class="line-header-wrap">
                <div class="shop-line"></div> 
                <h1 class="shop-header">cart</h1>
        </div>
        <section class="cartSec">
            
    
        
        <div class="cart-flex">
            <div class="cart-items">
                <%products.forEach(product=>{%>
                        <div class="cartColomn">
                            <div class="cart-colom-flex">
                                <div class="product-cart-name-div">
                                <img src="<%=product.picture%>" class="product-cart-picture"/>
                                    
                                    <span class="product-cart-name"><%=product.item.name%></span>
                                </div>

                                    <div class="cart-product-details">
                                        <span class="plus-minus">
                                            <a href="/store/add/<%=product.item._id%>" class="cart-links">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                        <span class="product-quantity"> <%=product.qty%></span>
                                            <a href="/store/reduce/<%=product.item._id%>" class="cart-links">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </a>
                                        </span> 
                                    </div> 

                                    <div class="product-cart-price">
                                        <span class="cartPrice">NGN <%=numberWithCommas(product.price)%></span>
                                    </div>
                                    
                                    
                                        <a href="/store/remove/<%=product.item._id%>" class="cart-links">
                                            <i class="fa fa-times fa-lg times" aria-hidden="true"></i>
                                        </a>
                                    
                                    
                            </div>
                        </div>
                    <%})%>
                  
            </div>
                
            <div class="cart-summary">
               <h1 class="cart-summary-header">Summary</h1>
                    <div class="subtotal-div">
                        <span class="cart-sub-total-title">Subtotal</span>
                        <div class="cart-total-price">NGN <%=numberWithCommas(subTotal)%></div>
                    </div>

                    <div class="delivery-div">
                        <span class="cart-sub-total-title">Estimated Delivery & Handling</span>
                        <div class="cart-total-price">NGN <%=numberWithCommas(1500)%></div>
                    </div>

                    <div class="total-div">
                        <hr class="total-hr hr-top">
                        <span class="cart-total-title">TOTAL</span>
                        <div class="cart-total-price">NGN <%=numberWithCommas(totalPrice)%></div>
                        <hr class="total-hr hr-btm">
                    </div>
                    
                    <a href="/store/checkout"  class="addCart-btn">CHECKOUT</a>
                    
            </div>
        </div>
    

            </section>

    <%}else{%>
        <hr>
        <section class="empty-cart-section">
        <p>Your Cart is empty, Patroize us by buying our Products</p>
        </section>
     <%}%>   

     <%
        function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
         }
     %>
