    <hr>
    <section class="shopSec">
            <div class="line-header-wrap">
                <div class="shop-line"></div> 
                <h1 class="shop-header">shop</h1>
            </div>
    
         
            <div class="shop-itemsss">
                <div class="top-arrow-div">
                    <%if(previous){%>
                        <a href="/store?page=<%=previous.page%>&limit=3" class="arrow">
                            <i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a>
                        <%}%>
                </div>    
                <div class="shop-items">
                    <% products.forEach(product =>{%>
                        
                            
                        <div class="shop-item">
                            
                                
                                <a href="/store/<%=product.id%>">
                                <img class="store-products " src="<%=product.prodImagePath %>" >
                                </a></br>
                            <span class="club store-product-info"><%=product.name%></span><br>
                            <span class="price-tag  store-product-info">NGN<%=product.price%></span>
                        
                        </div> 
                    
                    <%})%>
                
                
                </div>

                
                <div class="bottom-arrow-div">
                <%if(previous){%>
                    <a href="/store?page=<%=previous.page%>&limit=3" class="arrow">
                        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                    </a>
                <%}%>
                <%if(next){%>
                    <a href="/store?page=<%=next.page%>&limit=3" class="arrow">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                    </a>
                <%}%>
                </div>
            </div>


</section>

<script>
    function show(){
    console.log(req.query)}
</script>



